*{
font-family: Arial, sans-serif;
  
}

html, body{
  width: 100%;
  height: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.card{
  height: 350px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid rgb(129, 128, 128);
  padding: 5px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid rgb(147, 147, 147);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  border-radius: 5px;
  gap : 3px;
  background-color: transparent;
  color: rgb(128, 128, 128);
}

.center{
  margin-top: 15px;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 7px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
  font-weight: 700;
}

.center .tag {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 6px;
}



.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #8b8b8b;
}

.bottom button{
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(3, 3, 3);
  border: none;
  color: white;
  font-weight: 600;
}

.bottom h3{
  font-size: 17px;

}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}