*{
  margin: 0px;
  padding: 0px;
  color: white;
}

body{
  width: 100%;
  height: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: rgb(0, 0, 0);
}

.card{
  height: 350px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid rgb(129, 128, 128);
  padding: 5px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid rgb(147, 147, 147);
  padding: 5px 10px;
  border-radius: 5px;
}

.center{
  margin-top: 45px;
}

.role{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.role h4{
  background-color: rgb(229, 226, 226);
  padding: 5px 10px;
  border-radius: 5px;
}

.line{
  margin-top: 80px;
  margin-bottom: 20px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom button{
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(3, 3, 3);
  border: none;
  color: white;
}