.page1{
    height: 500px;
    background-color: aliceblue;
}

.page2{
    height: 500px;
    background-color: rgb(55, 232, 126);
}

.page3{
    height: 500px;
    background-color: rgb(172, 208, 40);
}